<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Animais</title>
</head>
<body>
    <h1>Lista de Animais</h1>
    <ul>
        {% for animal in animais %}
            <li>
                <strong>Nome:</strong> {{ animal[1] }} <br>
                <strong>Peso:</strong> {{ animal[2] }} <br>
                <img src="{{ url_for('foto', id=animal[0]) }}" alt="Foto de {{ animal[1] }}" width="150"><br><br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>